    /* ------------------header --------------------*/

    .navbar {
        background-color: #e3f2fd;
    }

    .container-fluid {
        text-align: center;
    }

    .nav-link {
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .barranavegadora {
        /*barra de navegacion fija */
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    #navbarNav {
        padding-top: 1%;
        padding-bottom: 1%;
    }


    /*-------------------- header -----------------*/

    /* menu derecha fijo */

    .menu-derecho-fijo {
        width: 80px;
        height: 80px;
        margin-left: auto;
        

    }

    .boton-menu-derecha {
        background-color: rgba(239, 243, 238, 0.452);
        border-radius: 25% 0 0 25%;
        border: 1px solid azure;
        position: fixed;
        bottom: 50%;
        z-index: 100;
        
    }

    .img-user-log {
        width: 100px;
        height: 100px;
        margin-left: 36%;

    }

    .p-menu-derecha{
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .p-user-log {
        text-align: center;
        margin-top: 5px;
    }

    .datos-log {
        padding-top: 30px;
    }

    #boton-cerrar-sesion {
        margin-left: 43%;
        /* display: none;       desaparecer el boton  */

    }

    /* --------------------body -----------------------*/

    .cuerpo-pagina-index {
        background: linear-gradient(45deg, rgb(234, 234, 255) 50%, rgb(95, 95, 238) 80%);
    }


    .proyector-index {
        
    }

    /* -----------------------body -----------------------*/





    /*----------------------- main------------------------ */


    /*------------- componentes del carrusel ----------- */

    .carrusel-contenedor {

        
            margin-left: 20%;
            margin-right: 20%;
        border-radius: 10px;

    }

    .carousel-inner {
        border-radius: 10px;
    }

    .carousel-item {}


    #img-carrusel {
        border-radius: 10px;
    }


    /*------------- componentes del carrusel ----------- */

    .titulos {
        text-align: center;
        padding-top: 6%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .parrafos {
        text-align: justify;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /*----------------------- main------------------------ */


    /* ----------------footer -------------------*/

    .footerindex {
        background-color: black;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: auto;
        color: white;
        margin: auto;
        padding: 3px;
        z-index: 100;
    }

    .pfooter {
        color: azure;
        text-align: center;
        height: 20px;

    }


    /* ----------------footer -------------------*/




    /* ---------------------------------------- Contacto ----------------------------------------------------------- */

        .cuerpo-pagina-contacto{
            background: linear-gradient(45deg, rgba(234, 234, 255, 0) 50%, rgb(95, 95, 238) 80%);
            height: 750px;
        }

        .proyector-contacto{
            display: flex;
            justify-content: center;
        }


        .formulario-contacto{
            border-style:groove;
            border-color: black;
            border-radius: 10px;
            /* margin-left: 30%;
            margin-right: 30%; */
            /* margin-top: 10%; */
            padding: 2%;
            background-color: rgba(222, 235, 220, 0.842); 
            min-width: 200px;
            width: 500px;
            margin: 10% 10px 0 10px;

        }


        .boton-enviar-contacto{
            text-align: center;
            margin-right: 10%;

        }

    /* ---------------------------------------- Contacto ----------------------------------------------------------- */



    /* ------------------------------------------------------- Login ----------------------------------------------- */



    .cuerpo-pagina-login {
        background: linear-gradient(45deg, rgba(234, 234, 255, 0) 50%, rgb(95, 95, 238) 80%);
        height: 95%;
        width: 100%;
    }



    .formulariologin {
        width: 350px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        border-style: solid;
        border-radius: 15px;
        text-align: center;
        padding: 30px;
        background-color: rgba(86, 118, 221, 0.534);
    }

    .botonlogin {
        width: 285px;
        padding-right: 30px;
        padding-top: 20px;
    }

    .proyector-login{
        margin-top:20%;
    }
    .cuadro-login{
        display: flex;
        align-items: center;
        width: 400px;
        height: 200px;
        border-style: solid;
        border-color: black;
        position:absolute;
        margin-top: -25%;
        margin-left: 35%;
        z-index: 100;
        border-radius: 25px;
        background-color: rgb(95, 95, 238);
    }
    .cuadro-login2{
        display: flex;
        align-items: center;
        width: 550px;
        height: 200px;
        border-style: solid;
        border-color: black;
        position:absolute;
        margin-top: -25%;
        margin-left: 30%;
        z-index: 100;
        border-radius: 25px;
        background-color: rgb(95, 95, 238);
    }
    .mensaje-login{
        text-align: center;
        padding-left: 20%;
    }
    .mensaje-login2{
        text-align: center;
        padding-left: 3%;

    }
    .boton-login1{
        display:inline-flex;
        position: relative;
        margin-top: 30%;
        margin-left: -40%;

    }
    .boton-login2{
        margin-top: 25%;
        margin-left: -55%;
    }
    .link{
        text-decoration:none;
        color: white;
    }

    .proyector-registro{
        margin-top: 13%;
        height: 100%;
        width: 100%;
        padding-bottom: 5%;
    }

    .formularioregistro{
        display: flex;
        flex-direction: column;
        padding:1%;
        justify-content: center;
        width: 30%;
        margin-left: 38%;
        border-style: solid;
        border-color: black;
        border-radius: 25px;
        background-color:rgba(86, 118, 221, 0.534);
    }

    .btn-registro{
        margin-left: 46%;
    }

    .registro{
        margin-top: -28%;
        margin-left: 68%;
    }


    /* ------------------------------------------------------- Login ----------------------------------------------- */