<body class="cuerpo-pagina-contacto">
{{#> layout}}
        <main class="proyector-contacto">
            <form class="formulario-contacto">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo</label>
                    <input type="email" class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="nombre@ejemplo.cl">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                    <textarea class="form-control"
                        id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <ul class="boton-enviar-contacto">
                    <a href="/" class="btn btn-primary">Enviar</a>
                </ul>
            </form>
        </main>
</body>
{{/layout}}

