<body class="cuerpo-pagina-index">
{{#> layout}}
            <main class="proyector-index">
                <h1 class="titulos">Titulo 1</h1>
                <p class="parrafos">Lorem ipsum dolor sit, amet consectetur
                    adipisicing
                    elit. Veniam
                    deserunt eaque beatae itaque in, illum esse consectetur
                    suscipit
                    repudiandae velit quae ea? Ipsam officiis hic iure delectus
                    dolor
                    optio
                    non.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quis
                    voluptatibus perferendis soluta at? Excepturi vitae cum
                    facere id et
                    nesciunt maxime qui molestiae eum, nostrum numquam.
                    Obcaecati maiores
                    alias nulla? Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Voluptates labore necessitatibus nam dolores nostrum
                    exercitationem
                    nisi
                    deserunt quis in! Amet, inventore vel a qui cum magnam quis
                    enim
                    pariatur labore?</p>
                <div class="carrusel-contenedor">
                    <div id="carouselExampleInterval" class="carousel slide"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active"
                                data-bs-interval="10000">
                                <img id="img-carrusel" src="../images/medic1.jpg"
                                    class="d-block
                                    w-100" alt="..." width="300px"
                                    height="400px">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img id="img-carrusel" src="../images/medic2.jpeg"
                                    class="d-block
                                    w-100" alt="..." width="300px"
                                    height="400px">
                            </div>
                            <div class="carousel-item">
                                <img id="img-carrusel" src="../images/medic3.png"
                                    class="d-block
                                    w-100" alt="..." width="300px"
                                    height="400px">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <h1 class="titulos">Titulo2</h1>
                <p class="parrafos">Lorem ipsum dolor sit, amet consectetur
                    adipisicing
                    elit. Veniam
                    deserunt eaque beatae itaque in, illum esse consectetur
                    suscipit
                    repudiandae velit quae ea? Ipsam officiis hic iure delectus
                    dolor
                    optio
                    non.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quis
                    voluptatibus perferendis soluta at? Excepturi vitae cum
                    facere id et
                    nesciunt maxime qui molestiae eum, nostrum numquam.
                    Obcaecati maiores
                    alias nulla? Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit.
                    Voluptates labore necessitatibus nam dolores nostrum
                    exercitationem
                    nisi
                    deserunt quis in! Amet, inventore vel a qui cum magnam quis
                    enim
                    pariatur labore?</p>
            </main>
{{/layout}}
</body>