{{#> layout}}
    <body class="cuerpo-pagina-login">
    <main class="proyector-login">
        <form class="formulariologin " action="app" method="post">
            <div class="form-floating mb-3 has-validation">
                <input type="text" class="form-control is-invalid" name="user"
                    id="floatingInput1"
                    placeholder="name">
                <label for="floatingInput">Usuario</label>
                <div class="invalid-feedback">
                    Por favor ingresar Usuario.
                </div>
            </div>
            <div class="form-floating has-validation">
                <input type="password" class="form-control is-invalid"
                    name="pass"
                    id="floatingPassword1" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
                <div class="invalid-feedback">
                    Por favor ingresar Contraseña.
                </div>
            </div>
            <ul class="botonlogin">
                <button type="submit" class="btn btn-primary" disabled >Iniciar
                    Sesión</button>
            </ul>
        </form>
<div class="cuadro-login">
    <h1 class="mensaje-login" >Login Exitoso</h1>
    <button type="button" class="btn btn-primary boton-login1"> <a class="link" href="/">OK</a> </button>
</div>
{{/layout}}