
{{#> layout}}

<main class="proyector-login">
    <div>
        <form class="formulariologin">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput1"
                    placeholder="name">
                <label for="floatingInput">Correo</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control"
                    id="floatingPassword1" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <ul class="botonlogin">
                <button class="btn btn-primary" type="send" onclick="login()">Iniciar
                    Sesión</button>
            </ul>
        </form>
    </div>

</main>
{{/layout}}