
{{#> layout}}
<body class="cuerpo-pagina-login">
<main class="proyector-login">
        <form class="formulariologin" action="app" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="user" id="floatingInput1"
                    placeholder="name">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="pass"
                    id="floatingPassword1" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <ul class="botonlogin">
                <button type="submit" class="btn btn-primary">Iniciar
                    Sesión</button>
            </ul>
        </form>
    <script>
        
        {{saludo}};
    </script>
</main>
</body>
{{/layout}}
