{{#> layout}}
<body class="admin">
    <div class="contenedor-admin">
        <img class="img-admin"
            src="https://media.tenor.com/38l5OsYy2TsAAAAC/elmo-flaming.gif"
            alt="" srcset="">
        <h1>Médico</h1>

        <div>
            <form action="/buscarpaciente" method="post">
                <input type="text" name="rut" placeholder="Rut" required>
                <ul>
                    <button type="submit">Buscar Paciente</button>
                </ul>
            </form>
        </div>

        {{#if datareceta}}
        <div class="datos">
            <h1>{{datareceta.rut_pacientes}}</h1>
            <h1>{{datareceta.nombre}}</h1>
            <h1>{{datareceta.apellido}}</h1>
            {{else}}
            <h4>No se encontraron datos</h4>
        </div>
        {{/if}}


    </div>
</body>
{{/layout}}